/* background and text color, margin, and size for header */
.header {
  background: #f9b713;
  height: 200px;
  color: white;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.header p {
  margin-top: 10px;
  font-size: large
}
